.header {
  background: #3f4d67;
}

.header a {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.header h1 {
  margin: 40px;
}

.header h2 {
  color: white;
  text-transform: uppercase;
}

.menu {
  margin: 50px 0;
}

.menu > li {
  display: inline-block;
  list-style: none;
}

.menu > li a {
  display: block;
  padding: 0 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
