<!doctype html>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<link rel="stylesheet" href="//cdn.rawgit.com/twbs/bootstrap/v4/dist/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.base_url }}/style.css">

<body>

<div class="container-fluid header">
  <div class="row">
    <div class="col-sm-3">

      <h1><a href="{{ site.base_url }}/">{{ site.title }}</a></h1>

    </div>
    <div class="col-sm-9 menubox">

      <ul class="menu">
      {% for item in site.main_menu %}
        <li><a href="{{ site.base_url }}{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
      </ul>

      {% if page.submenu %}
      <ul class="menu menu-secondary">
      {% for item in page.submenu %}
        <li><a href="{{ site.base_url }}{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
</div>

{{ content }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117979844-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117979844-1');
</script>

