<!doctype html>
<meta charset="utf-8">
<title>sdingelectro</title>
<link rel="stylesheet" href="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.base_url }}/style.css">

<body>

<div class="container-fluid header">
  <div class="row">
    <div class="col-sm-3">

      <h1><a href="{{ site.base_url }}/">CLC 2016</a></h1>

    </div>
    <div class="col-sm-9">

      <ul class="menu">
        <li><a href="{{ site.base_url }}/">home</a></li>
        <li><a href="{{ site.base_url }}/about.html">about the conference</a></li>
        <li><a href="{{ site.base_url }}/information.html">information</a></li>
        <li><a href="{{ site.base_url }}/board.html">board</a></li>
        <li><a href="{{ site.base_url }}/reg-deadlines.html">registration</a></li>
        <li><a href="{{ site.base_url }}/authors.html">author's area</a></li>
        <li><a href="{{ site.base_url }}/venue.html">venue</a></li>
        <li><a href="{{ site.base_url }}/contacts.html">contacts</a></li>
      </ul>

    </div>
  </div>
</div>

{{ content }}
